:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px
}

.calc {
    width: 300px;
    height: auto;
    padding: 10px;
    border:1px solid #0f0d0d;
    border-radius: 10px;
    background-color: azure;
    box-sizing: border-box;
}

.display {
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0f0d0d;
    border-radius: 5px;
    background-color: rgb(247, 248, 250)
}

button {
    height: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

 .result {
    grid-column: 2/4;
    background-color: #80bd81;
    color: white;
    border: 1px solid #0f0d0d;
    border-radius: 5px;
 }

.clear {
    background-color: rgb(116, 174, 225);
    color: white;
    border: 1px solid #0f0d0d;
    border-radius: 5px;
}